body { padding-top: 70px; }

input {
    max-width: 300px;
}

html {
  font-size: 14px;
}

td.a {
    width: 50%;
}

td.b {
    width: 10%;
}

.message {
    margin-top: 20px;
}

.message .name {
    width: 80%;
    font-weight: bold;
}

.message .sent {
    width: 20%;
    text-align: right;
}

textarea {
    max-width: 50%;
    min-height: 200px;
}