{{>top}}

<h2><a href="/">Keskustelu</a> / {{category.name}}</h2>

{{#gt pages 1}}
    <ol class="pages">
    {{#times pages}}
    <li class="{{#eqi this currentPage}}selected{{/eqi}}"><a href="{{url '/alue/' category.id '-' category.name '/sivu/' this}}">{{this}}</a></li>
    {{/times}}
    </ol>
{{/gt}}

<table class="table">
    <tr>
        <th class="a">Otsikko</th><th class="b">Viestejä</th><th class="c">Aloitus</th><th class="d">Viimeisin</th>
    </tr>
    {{#threads}}
    <tr>
        <td class="a"><a href="{{url '/ketju/' id '-' title}}">{{title}}</a></td>
        <td class="b">{{messageCount}}</td>
        <td class="c">
            <div>{{dt firstMessage.sent}}</div>
            <div><a href="{{url '/kayttaja/' firstMessage.user.id}}">{{firstMessage.user.name}}</a></div>
        </td>
        <td class="d">
            <div>{{dt latestMessage.sent}}</div>
            <div><a href="{{url '/kayttaja/' firstMessage.user.id}}">{{latestMessage.user.name}}</a></div>
        </td>
    </tr>
    {{/threads}}
</table>

{{#if user}}
    {{>uusi-ketju}}
{{/if}}

{{>bottom}}
