{{>top}}

<h2><a href="/">Keskustelu</a> / <a href="{{url '/alue/' category.id '-' category.name}}">{{category.name}}</a> / {{thread.title}}</h2>

{{#gt pages 1}}
    <ol class="pages">
    {{#times pages}}
    <li class="{{#eqi this currentPage}}selected{{/eqi}}"><a href="{{url '/ketju/' thread.id '-' thread.title '/sivu/' this}}">{{this}}</a></li>
    {{/times}}
    </ol>
{{/gt}}

{{#messages}}
<table class="message table">
    <tr>
        <td class="name">{{user.name}}</td>
        <td class="sent">{{dt sent}}</td>
    </tr>
    <tr>
        <td colspan="2" class="text">
            {{tx text}}
        </td>
    </tr>
</table>
{{/messages}}

{{#if user}}
    {{>uusi-viesti}}
{{/if}}

{{>bottom}}
